<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webproject.mapper.CommentMapper">
    <update id="addCmtLike">
        update comment
        set `like` = `like` +1
        where cid = #{cid}
    </update>
    <update id="reduceCmtLike">
        update comment
        set `like` = `like` - 1
        where cid = #{cid}
    </update>
</mapper>
