<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webproject.mapper.UserMapper">
    <insert id="insertReadHistory">
        INSERT INTO read_history (bid, uid, time)
        VALUES (#{bid}, #{uid}, NOW())
        ON DUPLICATE KEY UPDATE time = NOW();
    </insert>

    <select id="selectByUsername" resultType="com.webproject.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="selectByUid" resultType="com.webproject.entity.User">
        select * from user where uid = #{uid}
    </select>
    <select id="getUserByLikeNameAndRole" resultType="com.webproject.entity.User">
        select * from user where (username like CONCAT('%', #{likename}, '%') or
                nickname like CONCAT('%', #{likename}, '%') or
                email like concat('%', #{likename}, '%')) and
                role like concat('%', #{role}, '%')
    </select>
</mapper>
